/* 
selectortype{
    propertyKey:propertyValue;
} 
*/

/* Element Selector */
p{
    color: rgb(255, 174, 174);
}
h2{
    color: rgb(195, 191, 255);
}

/* ID Selector */
#elementSelectorsPara{
    color: rgb(216, 255, 216);
}

/* Class Selector */
.selectorsArticle{
    background-color: rgb(0, 0, 0);
}

/* Universal Selector */
*{
    font-family: Arial, sans-serif;
}

/* Descendant Selector / Nested Selector */
main article p{
    color: rgb(255, 255, 255);
}

/* Grouping Selector */
h1, h2 , p, ol, ul{
    margin: 10px;
}

/* Direct Child Selector */
main > article{
    border: 1px solid black;
    padding: 10px;
}

