*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-blue: #238aff;
    --secondary-blue: #3281e0;
    --primary-yellow: #fffb00;
    --light-blue: #e0f0ff;
    --logo-grey: #4b4b4b;
    --light-grey: #6b6b6b;
    --dark-grey: #333333;
    --text-white: #ffffff;
    --off-white: #eee;
    --transition: 0.3s ease;
}

html,body{
    font-family: 'Arial', sans-serif ;
}

/* ======================= Main Section ========================== */
.main{
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.logo{
    display: flex;
    gap: 10px;
}

.logo h3{
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
    margin-left: 30px;
}

.logo img{
    height: 28px;
}

.navlink{
    display: flex;
    gap: 30px;
}

.navlink a{
    text-decoration: none;
    color:var(--light-grey);
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

.navlink a:hover{
    color: var(--primary-blue);
    cursor: pointer;
}

.username{
    height: 3.1rem;
    background-color: var(--light-blue);
    padding: 0px 12px;
    border-radius: 15px;   
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 10px;
}

.username h5{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: var(--primary-blue);
}

.username img{
    height: 30px;
}

.hero-section{
    width: 100%;
    height:60%;
    display: flex;
    padding: 10px 100px;
}

.content-div{
    width: 60%;
    display: flex;
    flex-direction:column;
    align-items:left;
    justify-content: center;
    padding: 0px 30px;
}

.content-div h1{
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    line-height: 3.6rem;
    color: var(--dark-grey);
}

.content-div h2{
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: var(--primary-blue);
    margin : 10px 0 10px 0;
}

.content-div p{
    font-family: 'Arial', sans-serif;
    font-size: 1.3oooooo9ioorem;
    font-weight:lighter;
    color: var(--light-grey);
    line-height: 1.4rem;
    margin : 0 0 10px 0;
}

.btn{
    height: 3rem;
    width: 16rem;
    background-color: var(--primary-yellow);
    color: var(--light-grey);
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0px 10px;
    transition: var(--transition);
}

.btn:hover{
    transform: scale(1.05);
}

.image-div{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-div img{
    height: 400px;
}

/* ======================= Achievement Section ========================== */
.achievement-section{
    height: 30%;
    width: 100%;
    background-color: #238aff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.achievement-heading{
    font-family: 'Arial', sans-serif ;
    font-size: 3rem;
    padding: 0px 20px;
    color: var(--primary-yellow);
}

.achievement-stats{
    display: flex;
    gap: 40px;
}

.stat h4{
    font-family: 'Arial', sans-serif ;
    font-size: 2.3rem;
    color: var(--text-white);
}

.stat{
    font-family: 'Arial', sans-serif ;
    font-size: 1.4rem;
    color: var(--text-white);
}

/* ======================= Service Section ========================== */
.service-section{
    
    height: 100vh;
    width: 100%;
    background-color: var(--off-white);
    padding: 80px 120px;
    display: flex;
    gap: 20px;
}

.service-section .right{
    width: 60%;
    background-color: var(--text-white);
    border-radius: 20px;
    padding: 30px;
}


.right .heading h2{
    font-size: 3.2rem;
    margin-bottom: 12px;
}

.right .heading p{
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.right .heading::after{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ddd;
    content: " ";
    margin: 0px auto 33px ;
}

.item{
    display: flex;
    justify-content: space-between;
    height: 3.8rem;
}

.title{
    display: flex;
    gap: 20px;
}

.title img{
    height: 23px;
}

.title h5{
    font-size: 1.2rem;
}

.title h4{
    color: #aaa;
}
.title .price{
    color: var(--primary-blue);
}

.item button{
    font-size: 1rem;
    height: 1.6rem;
    width: 6rem;
    background-color:var(--primary-blue);
    border: 1px solid var(--primary-blue);
    border-radius: 15px;
    color: var(--text-white);
    transition: var(--transition);
}

.item button:hover{
    cursor: pointer;
}

.items-section::after{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ddd;
    content: " ";
    margin: 0px auto 28px ;
}

.info h3{
    font-size: 1.1rem;
}

.left{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.bill-card{
    height: 48.1%;
    border-radius: 20px;
    background-color: var(--text-white);
    padding: 20px 0px;
    margin-bottom: 20px;
}

.bill-card .heading{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.5rem;
}

.bill-heading{
    display: grid ;
    background-color: #ddd;
    padding: 12px 20px;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
}

.bill-item{
    display: grid !important;
    padding: 8px 20px !important;
    grid-template-columns: 1fr 5fr 1fr !important;
    height: 10% !important;
}

.bill-item p{
    margin: 0;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #555 !important;
}

.bill-item p:first-child{
    margin-right:57px;
}

.bill-item p:last-child{
    margin-left: 10px;
}

.price-list{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
    height: 58%;
}

.price-list p:first-child{
    font-size: 2rem;
    font-weight: 800;
}

.price-list p:nth-child(2){
    font-size: 1.2rem;
}

.price-list p:last-child{
    color: #aaa;
}

.price-list::after{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ececec;
    content: " ";
    margin: 16px auto 10px;
}


.total-amount{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.total-amount h5{
    font-size: 1.1rem;
}

.booking{
    height: 48.1%;
    border-radius: 20px;
    background-color: var(--text-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.booking .heading{
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.name-input,
.detail-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-input label,
.detail-input label{
    font-size: 1rem;
    font-weight: 600;
}

.name-input input,
.detail-input input{
    font-size: 1.1rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 0px 10px;
}

.input-group{
    display: flex;
    gap: 30px;
}

.name-input input:hover,
.detail-input input:hover{
    border: 1px solid var(--primary-blue);
   
}

.name-input input:focus,
.detail-input input:focus{
    outline: none;
    border: 1px solid var(--primary-blue);
    box-shadow: 0 0 10px rgba(35, 138, 255, 0.539);
}

/* Chrome, Safari, Edge, Opera */
.detail-input input[type=number]::-webkit-outer-spin-button,
.detail-input input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form button{
    font-size: 1.1rem;
    padding: 0px 10px;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-blue);
    color: var(--text-white);
}

.form button:hover{
    cursor: pointer;
    box-shadow:  0 0 10px var(--primary-yellow);
}

/* ======================= About Section ========================== */
.about-section{
    width: 100%;
    height: 100vh;
}

/* ======================= Feature Section ========================== */
.feature-section{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px 60px;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
}

.feature-card h1{
    font-size: 3.7rem;
    color: var(--primary-blue);
}

.feature-card h3{
    font-size: 1.3rem;
}

.feature-card p{
    text-align: center;
    font-size: 1rem;
    margin-top: 5px;
}

/* ======================= Newsletter Section ========================== */
.newsletter-section{
    width: 100%;
    height: 30%;
    background-color: var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 10px 60px;
}

.newsletter-section .right{
    width: 40%;
}
.newsletter-section .right h1{
    font-size: 3.5rem;
    color: var(--text-white);
    text-align: left;
}

.newsletter-section .left{
    width: 60%;
    display: flex;
    gap: 20px;
}

.input-boxes{
    display: flex;
    gap: 20px;
}

.input-boxes input,
.input-boxes input:focus{
    height: 4rem;
    width: 26rem;
    padding: 0px 10px;
    background-color: #57a5ffc8;
    outline: none;
    border: 1px solid var(--primary-yellow);
    font-size: 1.4rem;
    color: var(--primary-yellow);
    caret-color: var(--primary-yellow);
}

.input-boxes input::placeholder{
    color: var(--primary-yellow);
}

.newsletter-section .left button{
    height: 4rem;
    width: 100%;
    padding: 0px 10px;
    background-color: var(--primary-yellow);
    outline: none;
    border: 1px solid #dcdcdc6c;
    font-size: 1.4rem;   
    color: var(--light-grey);
}

.newsletter-section .left button:hover{
    box-shadow: 0 0 10px var(--primary-yellow);
    cursor: pointer;
}

/* ======================= Footer Section ========================== */
footer{
    height: 40%;
    width: 100%;
    background-color: #ddd;
    padding: 60px 60px;
}

.upper{
    display: flex;
    gap: 80px;
}

.footer-logo{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-logo h2{
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-us h4{
    font-size: 1.4rem;
    margin-bottom: 3px;
}

.about-us p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-link h3{
    font-size: 1.5rem;
}

.footer-link ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-link ul{
    list-style: none;
}

.footer-link a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #525252;
}

.footer-link a:hover{
    color: #000;
}

.follow-us ul{
    flex-direction: row;
    gap: 20px;
}

.follow-us li{
    font-size: 1.5rem;
    color: #525252;
}

.follow-us li:hover{
    color: #000;
    cursor: pointer;
}

.copyright{
    border-top: 1px solid #00000023;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
}