*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-blue: #238aff;
    --secondary-blue: #3281e0;
    --primary-yellow: #fffb00;
    --light-blue: #e0f0ff;
    --logo-grey: #4b4b4b;
    --light-grey: #6b6b6b;
    --dark-grey: #333333;
    --text-white: #ffffff;
    --transition: 0.3s ease;
}

/* ======================= Main Section ========================== */
.main{
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.logo{
    display: flex;
    gap: 10px;
}

.logo h3{
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
    margin-left: 30px;
}

.logo img{
    height: 28px;
}

.navlink{
    display: flex;
    gap: 30px;
}

.navlink a{
    text-decoration: none;
    color:var(--light-grey);
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

.navlink a:hover{
    color: var(--primary-blue);
    cursor: pointer;
}

.username{
    height: 3.1rem;
    background-color: var(--light-blue);
    padding: 0px 12px;
    border-radius: 15px;   
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 10px;
}

.username h5{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: var(--primary-blue);
}

.username img{
    height: 30px;
}

.hero-section{
    width: 100%;
    height:60%;
    display: flex;
    padding: 10px 100px;
}

.content-div{
    width: 60%;
    display: flex;
    flex-direction:column;
    align-items:left;
    justify-content: center;
    padding: 0px 30px;
}

.content-div h1{
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    line-height: 3.6rem;
    color: var(--dark-grey);
}

.content-div h2{
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: var(--primary-blue);
    margin : 10px 0 10px 0;
}

.content-div p{
    font-family: 'Arial', sans-serif;
    font-size: 1.3oooooo9ioorem;
    font-weight:lighter;
    color: var(--light-grey);
    line-height: 1.4rem;
    margin : 0 0 10px 0;
}

.btn{
    height: 3rem;
    width: 16rem;
    background-color: var(--primary-yellow);
    color: var(--light-grey);
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0px 10px;
    transition: var(--transition);
}

.btn:hover{
    transform: scale(1.05);
}

.image-div{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-div img{
    height: 400px;
}

/* ======================= Achievement Section ========================== */
.achievement-section{
    height: 30%;
    width: 100%;
    background-color: #238aff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.achievement-heading{
    font-family: 'Arial', sans-serif ;
    font-size: 3rem;
    padding: 0px 20px;
    color: var(--primary-yellow);
}

.achievement-stats{
    display: flex;
    gap: 40px;
}

.stat h4{
    font-family: 'Arial', sans-serif ;
    font-size: 2.3rem;
    color: var(--text-white);
}

.stat{
    font-family: 'Arial', sans-serif ;
    font-size: 1.4rem;
    color: var(--text-white);
}